{% extends 'myclub/basic.html' %}


{%block content%}
<div class="container">
{% if form.errors %}
<div class="alert alert-secondary" role="alert">
  there was something problem
  <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
  </div>
{% endif %}

<h1>Register</h1>
<br />
<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}

    {{ form.as_p }}
    <br /><input type="submit" value="submit" class="btn btn-secondary">
</form>
</div>
{%endblock%}