{% extends 'myclub/basic.html' %}


{%block content%}

<div class="card">
  <div class="card-header">
    Venue
  </div>
  <div class="card-body">
    <h5 class="card-title">{{venue.name}}</h5>
    <p class="card-text">
  <li>{{venue.address}}</li>
  <li>{{venue.zip_code}}</li>
  <li>{{venue.phone}}</li>
  <li>{{venue.email_address}}</li>
  <li><a href="{{venue.web}}">{{venue.web}}</a></li>
  
  <!-- Venue owner name and Email  is showing this is the logic-->

  <li> Venue Owner Name: {{ venue_owner }}</li>
  <li> Venue Owner Email: {{ venue_owner.email }}</li>
    </p>
</div>
</div>
  </center>
  {%endblock%}