{% extends 'myclub/basic.html' %}


{%block content%}
  
  <h1>Venue List</h1>
  <br/>
  <table class="table">
  {% for venue in venue_list%}
  <tr>
    
  <td><a href="{% url 'show-venue' venue.id %}">{{venue}} </a></td>
  <td align="right">
   <a href="{% url 'update-venue' venue.id %}" class="btn btn-outline-secondary  btn-sm">update</a>
   <a href="{% url 'delete-venue' venue.id %}" class="btn btn-outline-secondary  btn-sm">Delete</a>

  </td>

  </tr>

  {%endfor%}
 </table>
</br>

{{venues}}</br>
Has previous:{{venues.has_previous}}</br>
HAS NEXT:{{venues.has_next}}</br>
Current Page:{{venues.number}}</br>
Number of pages:{{venues.paginator.num_pages}}</br>
<hr>
{% if venues.has_previous %}
  <a href="?page=1">&laquo First</a>
  <a href="?page={{venues.previous_page_number}}">Previous</a>
{% endif %}
{%endblock%}